<body>
  <header>
    <h1>iCall</h1>

    <div class="accInfo"> 
      <p>{{user.given_name}} {{user.family_name}}</p>
      <img src="{{user.picture}}" alt="">
    </div>

    <div class="profilePopup">
      <a href="#">Profile settings</a>
      <a href="/logout"><span></span>Log out</a>
    </div>
  </header>

  <main>
    {{!-- <a href="/createroom">Create room</a> --}}

    <section>
      <h2>Create new room</h2>
      <form action="/rooms/{{roomIDS}}" method="POST">
        <fieldset>    
          <input type="hidden" name="roomID" value="{{roomIDS}}" >
          <label for="userName">Username: </label>
          <input type="text" name="userName" id="userName" placeholder="Enter username">
          <input type="submit" value="enter">
        </fieldset>
      </form>


    </section>

    <section>
      <h2>Enter a room</h2>
      <form action="/rooms/invite" method="POST">
        <fieldset>
          <label for="roomID">ID: </label>
          <input type="text" name="roomID" id="roomID"  placeholder="Enter room ID">
          <label for="userName">Username: </label>
          <input type="text" name="userName" id="userName" placeholder="Enter username">
          <input type="submit" value="Enter room">
        </fieldset>
      </form>
    </section>
  </main>

  <footer>
    <p>&copy; <a href="https://github.com/joordy/i-call" target="">Jordy Fronik</a>, 2021</p>
  </footer>
</body>